.Circle {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: crimson;
  border-radius: 50%;
  transition: top 1s, transform 1s;
}

.Circle--animated {
  top: 250px;
  transform: scale(0);
}